.tab {
    background-color: cadetblue;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vh;
}

.tab img {
    max-width: 100%;
    height: 8vh;
    object-fit: contain;
}

/* ul li img {
  width: 50%;
  height: 50%;
} */
